# API providers & credentials for servers this service is connecting to
apiProviders:
    vpn-ca-api:
        userName: vpn-server-node
        userPass: aabbcc
        apiUri: 'http://10.42.101.100:8008/api.php' 
    vpn-server-api:
        userName: vpn-server-node
        userPass: ccbbaa 
        apiUri: 'http://10.42.101.100:8009/api.php'

# Override the user/group under which OpenVPN will run, on CentOS/Fedora this 
# is openvpn:openvpn, on Debian this is nobody:nogroup
vpnUser: openvpn
vpnGroup: openvpn
