<?php

return [
    // Node API URL
    // DEFAULT: http://localhost/vpn-user-portal/node-api.php
    //'apiUrl' => 'http://localhost/vpn-user-portal/node-api.php',

    // specify the number of this node
    // DEFAULT: 0
    //'nodeNumber' => 0,

    // Override whether to prefer AES over CHACHA with OpenVPN
    // DEFAULT: auto detect whether the CPU supports hardware accelerated AES,
    // if it does, prefer AES
    //'preferAes' => true,
    //'preferAes' => false,

    // specify the profiles that you want to load on this node, empty list,
    // i.e. [], means ALL profiles
    // DEFAULT: []
    //'profileList' => [],
    //'profileList' => ['default'],
];
