<?php

return [
    //
    // Firewall Configuration
    //

    // Generate a firewall for the instances listed here
    'instanceList' => [
        'default',
        //'vpn.example.org',
    ],

    'inputChain' => [
        'tcp' => [
            22,
            // limit source address for port
            //['src' => ['192.168.1.0/24', 'fda9:c454:8bc1:89a0::/64'], 'port' => '22']
            80,
            443,
            1194,
            //'1194:1201',
        ],
        'udp' => [
            '1194',
            //'1194:1201',
        ],

        'trustedInterfaces' => [
            //'eth1',
        ],
    ],
];
