<?php

return [
    // NAT
    'natConfig' => [
        'profileList' => ['internet'],
        'extIf' => 'eth0',
    ],

    // INPUT
    'inputRules' => [
        [
            'proto' => ['tcp'],
            'dst_port' => [
                22,     // SSH
                80,     // HTTP
                443,     // HTTPS
            ],
        ],
        [
            'proto' => ['udp', 'tcp'],
            'dst_port' => [
                1194,    // OPENVPN
            ],
        ],

//        // Only allow SSH access from 10.0.0.0/8
//        [
//            'proto' => ['tcp'],
//            'src_net' => [
//                '10.0.0.0/8'
//            ],
//            'dst_port' => [
//                22,     // SSH
//            ],
//        ],
    ],
];
